/* Importing Fonts
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato:wght@300,400&family=Roboto:wght@100,300&display=swap');

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Roboto', sans-serif;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#msgRow {
  margin: auto 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-supersano {
  filter: sepia(25%);
  object-fit: cover;
}

#head-txt-cont {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1rem 1rem;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 10%;
}

#head-txt-cont h1 {
  font-size: 400%;
}

#head-txt-cont p {
  font-family: 'Roboto', sans-serif;
  color:rgb(48, 37, 37);
  font-size: 200%;
}

.carousel-caption h1, .carousel-caption h1
/* MARKETING CONTENT by BS5 template
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



/* Featurettes by BS5 template
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  text-decoration: none;
}


/* RESPONSIVE CSS BY BS5
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* CODE INSTITUTE STYLE
--------------------------------------------------*/

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title, .post-subtitle + p {
    margin-top: 20%;
    margin-left: 5%;
    font-weight: 300;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* END CODE INSTITUTE STYLE */

/* HEADER ADJUSTMENTS AND OVERRIDING STYLE OF DJANGO BANNERS
-------------------------------------------------- */

#msgContainer {
  padding-left: 0px;
  padding-right: 0px;
}

#msg {
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.alert-dismissible .btn-close {
  position: inherit;
  padding: 0;
  z-index: 0;
  top: 0.188rem;
  right: inherit;
}

/* CODE INSTITUTE: CUSTOM OVERRIDING
-------------------------------------------------- 

.card-img-top {
  border-radius: 2%;
}*/

footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.4);
   color: black;
   text-align: center;
   border-top: solid 0.1rem black;
   margin-top: 5rem;
   padding-top: 2rem;
}

/* Event cards
-------------------------------------------------- */

.cardss {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 820px;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
transition: 0.2s all ease-out;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
position: absolute;
height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.cardd {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: rgb(241, 243, 217);
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.526);
}
.cardd:hover {
  /* box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.526); */
  transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.card__by {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.card__author {
  font-weight: 400;
  text-decoration: none;
  color: #AD7D52;
  text-transform: uppercase;
}

.cardd:hover .card__img--hover {
  height: 100%;
  opacity: 0.05;
}

.cardd:hover .card__info {
  background-color: transparent;
  position: relative;
}

.cardd:hover .card__info-hover {
  opacity: 1;
}

.cardd:hover {
    background: linear-gradient(129deg, #a9b3dd, #28d97d, #c5d928, #c5d928);
    background-size: 500% 500%;

    -webkit-animation: colourTransition 13s ease infinite;
    -moz-animation: colourTransition 13s ease infinite;
    -o-animation: colourTransition 13s ease infinite;
    animation: colourTransition 13s ease infinite;
}

/* CUSTOMIZE THE CARD BACKGROUND - TRANSITIONS
-------------------------------------------------- */

@-webkit-keyframes colourTransition {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-moz-keyframes colourTransition {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-o-keyframes colourTransition {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@keyframes colourTransition {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
/* CUSTOMIZE THE CARD BACKGROUND - END
-------------------------------------------------- */

/* FORM STYLING - CREATE AND UPDATE PAGES
-------------------------------------------------- */
#signup_form label {
  display: flex;
  justify-content: left;
}

/* SOCIAL LINKS IN THE FOOTER
-------------------------------------------------- */
.social-networks li {
	display: inline;
	list-style-type: none;
}

.social-networks a {
  color: #AD7D52;
}